<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    //Seria bueno tener una descripcion y el nombre de los autores
    <meta name="description" content="Pagina para encontrar espacios libres con compañeros">
    <meta name="author" content="Nombre 1, Nombre 2">
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    //Seria bueno añadir un favicon a la pagina web
    <link rel="icon" type="image" href="Url_imagen">
    <title><%= title %></title>
  </head>
